# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.TSW-Remaster-Project.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Carter Games\1. Carter Games Game Projects\2. The Shadow Within Remastered\TSW-Remaster-Project\.idea\.idea.TSW-Remaster-Project\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
